@import "tailwindcss";

button {
  cursor: pointer;
}

@keyframes slow-zoom {
  0% { transform: scale(1.05); }
  100% { transform: scale(1.25); }
}
.animate-slow-zoom {
  animation: slow-zoom 20s linear infinite alternate;
}

@keyframes fade-in {
  from { opacity: 0; transform: translateY(10px); }
  to { opacity: 1; transform: translateY(0); }
}
.animate-fade-in {
  animation: fade-in 0.3s ease-out forwards;
}
